In [1]:
# Jupyter Notebook Script

import pandas as pd

# Load the data from CSV files
data_llama2 = pd.read_csv('../results/llama2/gsm8k/zero_shot_cot_gsm8k/20240603-112531205664_289c2160bbb5425186b314e0fb9e4551_answered.csv')
data_openai = pd.read_csv('../results/openAi/gsm8k/zero_shot_cot_gsm8k/20240525-174150582952_72dcbbf5bc124790b148e5ddce48fc59_answered.csv')

# Display the first few rows of each dataframe to understand their structure
print("Llama2 Data:")
display(data_llama2.head())

print("OpenAI Data:")
display(data_openai.head())

# Calculate the number of questions answered correctly by each model
num_correct_llama2 = data_llama2['correct'].sum()
num_correct_openai = data_openai['correct'].sum()

# Total number of questions in the dataset
total_questions_llama2 = len(data_llama2)
total_questions_openai = len(data_openai)

# Print out the results
print(f"Total number of answered questions in Llama2 dataset: {total_questions_llama2}")
print(f"Number of questions answered correctly by Llama-2: {num_correct_llama2}")
print(f"Total number of answered questions in OpenAI dataset: {total_questions_openai}")
print(f"Number of questions answered correctly by OpenAI GPT-3.5 Turbo: {num_correct_openai}")

# Find common mistakes where both models made errors
common_mistakes = data_llama2.merge(data_openai, on='question', suffixes=('_llama', '_openai'))
common_mistakes = common_mistakes[(common_mistakes['correct_llama'] == False) & (common_mistakes['correct_openai'] == False)]

directory = '../result_responses'
summary_file_path = os.path.join(directory, 'correct_answers_summary.txt')
common_mistakes_file_path = os.path.join(directory, 'common_mistakes.csv')
os.makedirs(directory, exist_ok=True)

# Display the common mistakes
print("Common mistakes where both models failed:")
display(common_mistakes[['question', 'predicted label_llama', 'predicted label_openai', 'ground truth_llama', 'ground truth_openai']])

# Save the common mistakes to a CSV file
common_mistakes.to_csv('/mnt/data/common_mistakes.csv', index=False)

# Save the summary of correct answers to a text file
with open(summary_file_path, 'w') as f:
    f.write(f"Total number of answered questions in Llama2 dataset: {total_questions_llama2}\n")
    f.write(f"Number of questions answered correctly by Llama-2: {num_correct_llama2}\n")
    f.write(f"Total number of answered questions in OpenAI dataset: {total_questions_openai}\n")
    f.write(f"Number of questions answered correctly by OpenAI GPT-3.5 Turbo: {num_correct_openai}\n")

Llama2 Data:

,index,question,predicted label,ground truth,confidence,correct
0,1,Weng earns $12 an hour for babysitting. Yester...,600,10.0,0.90,False
1,2,Betty is saving money for a new wallet which c...,115,5.0,0.85,False
2,3,"Julie is reading a 120-page book. Yesterday, s...",42,42.0,0.90,True
3,4,James writes a 3-page letter to 2 different fr...,312,624.0,0.90,False
4,6,Albert is wondering how much pizza he can eat ...,48,48.0,0.90,True

OpenAI Data:

,index,question,predicted label,ground truth,confidence,correct
0,1,Weng earns $12 an hour for babysitting. Yester...,9,10.0,1.0,False
1,2,Betty is saving money for a new wallet which c...,5,5.0,1.0,True
2,3,"Julie is reading a 120-page book. Yesterday, s...",42,42.0,1.0,True
3,4,James writes a 3-page letter to 2 different fr...,624,624.0,1.0,True
4,5,Mark has a garden with flowers. He planted pla...,35,35.0,1.0,True

Total number of answered questions in Llama2 dataset: 6872
Number of questions answered correctly by Llama-2: 1403
Total number of answered questions in OpenAI dataset: 6752
Number of questions answered correctly by OpenAI GPT-3.5 Turbo: 5298
Common mistakes where both models failed:

,question,predicted label_llama,predicted label_openai,ground truth_llama,ground truth_openai
0,Weng earns $12 an hour for babysitting. Yester...,600,9,10.0,10.0
7,A deep-sea monster rises from the waters once ...,1724,53,121.0,121.0
12,"In a truck, there are 26 pink hard hats, 15 gr...",22,49,43.0,43.0
25,A car is driving through a tunnel with many tu...,9,0,10.0,10.0
46,Every hour Joanne has to collect the coins out...,35,105,120.0,120.0
...,...,...,...,...,...
6202,"Mr. Rainwater has some goats, 9 cows and some ...",81,45,18.0,18.0
6205,James and John combine their friends lists. J...,240,300,275.0,275.0
6207,Jim decides to open up a bike shop. The most ...,1,6000,3000.0,3000.0
6208,Mary went to the store to buy fruit. Apples co...,55,16,15.0,15.0
6221,"At 30, Anika is 4/3 the age of Maddie. What wo...",20,41,50.0,50.0

OSError: Cannot save file into a non-existent directory: '\mnt\data'